@font-face {
    font-family: "Raleway";
    src: url('Raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Raleway";
    src: url('Raleway/Raleway-Italic-VariableFont_wght.ttf');
}


body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1600px;
    font-family: "Raleway", Helvetica, sans-serif;
}
/**************** HEAD ******************/
header {
    width: 1320px;
}

#reserviaIcon {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr 0.5fr;
    height: 100%;
}

#imgReservia {
    display: grid;
    align-items: flex-end;
}
#imgReservia img {
    width: 40%;
    height: 40%;
}

#exemple {
    height: 150px;
    display: flex;
    align-items: flex-end;
}
.nav1 {
    display: grid;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
    text-decoration-line: none;
    color: black;
}

.nav1:hover {
    color: #0065FC;
    transition-duration: 0.2s;
    border-top-style: solid;
}

.nav2 {
    display: grid;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
    text-decoration-line: none;
    color: black;
}

.nav2:hover {
    color: #0065FC;
    transition-duration: 0.2s;
    border-top-style: solid;
}

.nav3 {
    display: grid;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
    text-decoration-line: none;
    color: #0065FC;
}

.nav3:hover {
    color: lightseagreen;
    transition-duration: 0.2s;
    border-top-style: solid;
}

.titreR {
    font-size: 25px;
}

#texteG {
    font-size: 20px;
}

/********************* SEARCH BAR ***********************/

#fasMarker {
    border: solid #F2F2F2 14px;
    border-radius: 14px 0 0 14px;
    background-color: #F2F2F2;
}

#barreSearch {
    display: flex;
    border-radius: 25px;
    width: 500px;
}

#iSearch {
    width: 200px;
    border: solid #F2F2F2;
    border-right: none;
    font-weight: bold;
}

#btn1 {
    background-color: #0065FC;
    border-style: none;
    color: white;
    margin-left: 0px;
    border-radius: 0 14px 14px 0;
    width: 110px;
    font-weight: bold;
}

#btn1:hover {
    background-color: lightseagreen;
    transition-duration: 1s;
}


/****************** FILTER ********************/

.filter {
    display: grid;
    grid-template-columns: 60px 237px 237px 237px 300px;
    margin-top: 15px;
    font-size: 20px;
}

#filterText {
    align-self: center;
    margin: 0;
}

.filter2 {
    height: 60px;
    border-radius: 35px;
    text-decoration-line: unset;
    border-color: lightgray;
    border-style: solid;
    border-left: 0 none;
}

.filter3 {
    width: 270px;
}

#filter2:hover {
    color: lightseagreen;
    transition-duration: 1s;
}

a {
    margin: 20px;
    color: black;
}

a .fas {
    color: rgb(0, 102, 255);
}

.fasFilter {
    border: solid #DEEBFF 18px;
    border-radius: 35px;
    background-color: #DEEBFF;
    margin-right: 12px;   
}

#infoFilter {
    display: flex;
}

#infosize {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 16px;
}

#boxInfo {
    width: 35px;
    height: 35px;
    border: solid;
    border-color: #F2F2F2;
    border-radius: 18px;
}
#infoImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    color: #0065FC;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/*************** STARS RATING ***************/


.blueStars .fas{
    color: #0065FC;
}

.far {
    border: none;
    color: #F2F2F2;
}

/**************** Corps *****************/

#Gridcorps {
    display: grid;
    grid-gap: 30px;
    width: auto;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 700px;
}

#Corps {
    margin-top: 30px;
    display: grid;
    background-color: #F2F2F2;
    justify-content: space-evenly;
    border-radius: 14px;
}

h6 {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
}

h4 {
    margin-left: 30px;
    margin-top: 30px;
    height: 42px;
}

#titleH4 {
    margin-left: 20px;
}

#hebergement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    width: 830px;
    background-color: #F2F2F2;
    border-radius: 14px;
}

#hebergement a {
    text-decoration: none;
}


.AlaC {
    display: grid;
    justify-content: center;
    height: 210px;
    border-radius: 18px;
    box-shadow: 5px 7px 10px rgb(207, 207, 207);
    background-color: white;
}

#Cannebiere {
    border-radius: 14px 14px 0 0;
    width: 220px;
    max-height: 115px;
    margin-top: 5px;
}

.HduP {
    display: grid;
    justify-content: center;
    height: 210px;
    border-radius: 18px;
    box-shadow: 5px 7px 10px rgb(207, 207, 207);
    background-color: white;
}

#Port {
    border-radius: 14px 14px 0 0;
    width: 220px;
    max-height: 115px;
    margin-top: 5px;
}

.HlesM {
    display: grid;
    justify-content: center;
    height: 210px;
    border-radius: 18px;
    box-shadow: 5px 7px 10px rgb(207, 207, 207);
    background-color: white;
}

#Mouettes {
    border-radius: 14px 14px 0 0;
    width: 220px;
    max-height: 115px;
    margin-top: 5px;
}

.HdelaM {
    display: grid;
    justify-content: center;
    height: 210px;
    border-radius: 18px;
    box-shadow: 5px 7px 10px rgb(207, 207, 207);
    background-color: white;
}

#Mer {
    border-radius: 14px 14px 0 0;
    width: 220px;
    max-height: 115px;
    margin-top: 5px;
}

.AleP {
    display: grid;
    justify-content: center;
    height: 210px;
    border-radius: 18px;
    box-shadow: 5px 7px 10px rgb(207, 207, 207);
    background-color: white;
}

#Panier {
    border-radius: 14px 14px 0 0;
    width: 220px;
    max-height: 115px;
    margin-top: 5px;
}

.HcA {
    display: grid;
    justify-content: center;
    height: 210px;
    border-radius: 18px;
    box-shadow: 5px 7px 10px rgb(207, 207, 207);
    background-color: white;
}

#Amina {
    border-radius: 14px 14px 0 0;
    width: 220px;
    max-height: 115px;
    margin-top: 5px;
}

.textAdapt {
    margin-left: 20px;
    margin-top: 50px;
}

/********************** POPULAIRE *******************/

#chart {
    margin-left: 50px;
}

#Popu {
    display: flex;
    justify-content: center;
}


#Tpopulaire {
    display: grid;
    margin-top: 30px;
    background-color: #F2F2F2;
    width: 360px;
    border-radius: 14px;
    justify-content: center;
}

#populaire {  
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr;
    grid-template-rows: 160px 160px 160px;
    justify-content: center;
    align-items: center;
}

.CatéPopu {
    display: grid;
    margin-left: 10px;
    border-radius: 14px;
    box-shadow: 5px 7px 10px rgb(207, 207, 207);
    background-color: white;
    width: 90%;
    height: 155px;
}

.Box {
    display: flex;
    margin: 10px;
    height: 135px;
}
.boxSepa {
    margin-left: 20px;
    height: 135px;
}

#Soleil {
    border-radius: 14px 0 0 14px;
    width: 135px;
    max-height: 165px;
    display: grid;
    justify-content: left;
}


#Eau {
    border-radius: 14px 0 0 14px;
    max-width: 135px;
    max-height: 165px;
}

#BleuBlanc {
    border-radius: 14px 0 0 14px;
    width: 160px;
    max-height: 165px;
}

/******************* ACTIVITES ***************************/

#Activites {
    margin-top: 50px;
    width: 1320px;
}

#Gridactivites {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 25px;
}

.LVP {
    display: grid;
    border-radius: 14px;
    box-shadow: 5px 7px 10px rgb(207, 207, 207);
    max-height: 430px;
    width: 280px;
    background-color: white;
}

#VieuxPort {
    border-radius: 14px 14px 0 0;
    width: 280px;
    height: 380px;
}

.PNdesC {
    display: grid;
    border-radius: 14px;
    box-shadow: 5px 7px 10px rgb(207, 207, 207);
    max-height: 430px;
    width: 280px;
    background-color: white;
}

#Calanques {
    border-radius: 14px 14px 0 0;
    width: 280px;
    height: 380px;
}

.Fort {
    display: grid;
    border-radius: 14px;
    box-shadow: 5px 7px 10px rgb(207, 207, 207);
    background-color: white;
    height: 220px;
    width: 275px;
}

#Pomegues {
    display: grid;
    border-radius: 14px 14px 0 0;
    width: 275px;
    height: 170px;
}

.IdF {
    display: grid;
    border-radius: 14px;
    box-shadow: 5px 7px 10px rgb(207, 207, 207);
    background-color: white;
    height: 165px;
    width: 275px;
    margin-top: 40px;
}

#Frioul {
    display: grid;
    border-radius: 14px 14px 0 0;
    width: 275px;
    height: 115px;
}

.Fbox {
    display: grid;
}

.PLongC {
    display: grid;
    border-radius: 14px;
    box-shadow: 5px 7px 10px rgb(207, 207, 207);
    background-color: white;
    height: 200px;
    width: 275px;
    margin-top: 40px;
}

#Longchamp {
    display: grid;
    border-radius: 14px 14px 0 0;
    height: 150px;
    width: 275px;
}

.NDLG {
    display: grid;
    border-radius: 14px;
    box-shadow: 5px 7px 10px rgb(207, 207, 207);
    background-color: white;
    height: 190px;
    width: 275px;
}

#Garde {
    display: grid;
    border-radius: 14px 14px 0 0;
    height: 140px;
    width: 275px;
}

/**************** FOOTER *****************/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #F2F2F2;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 190px;
}

.footerBox {
    width: 370px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@media screen and (max-width: 768px){

    body {
        max-width: 780px;
    }

    .container {
        padding: 0px;
        max-width: 768px;
        }
/******************** HEADER *****************/

    #reserviaIcon {
        width: 100%;
    }

    #imgReservia {
        margin-left: 1em;
    }

    #imgReservia img {
        width: 90%;
        height: 50%;
    }

    header {
        width: 100%;
    }

    .titreR {
        display: flex;
        justify-content: center;
    }

    #texteG {
        display: flex;
        justify-content: center;
    }

    #barreSearch {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .filter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 25px;
    }

    #filterText {
        display: none;
    }

    .filter2 {
        width: 290px;
    }

    #infoFilter {
        display: flex;
        justify-content: center;
    }

/********************* BODY **********************/

    #Gridcorps {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        margin-left: 15px;
        margin-right: 15px;
    }

    #titleH4 {
        display: flex;
        justify-content: center;
    }

    h6 {
        display: flex;
        justify-content: center;
    }

    #Corps {
        width: 738px;
    }

    #hebergement {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        max-width: 738px;
    }

    #Cannebiere {
        width: 315px;
    }

    #Port {
        width: 315px;
    }

    #Mouettes {
        width: 315px;
    }

    #Mer {
        width: 315px;
    }

    #Panier {
        width: 315px;
    }

    #Amina {
        width: 315px;
    }

    h5 {
        margin-left: 10px;
    }

    .blueStars {
        margin-left: 10px;
    }

/***************** ACTIVITES ***************/

    #Tpopulaire {
        width: auto;
        height: 650px;
    }

    #Activites {
        display: flex;
        justify-content: center;
        max-width: 768px;
    }

    #Gridactivites {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .LVP {
        display: grid;
        height: 210px;
        width: 340px;
        border-radius: 18px;
        box-shadow: 5px 7px 10px rgb(207, 207, 207);
        background-color: white;
    }
    
    #VieuxPort {
        border-radius: 14px 14px 0 0;
        width: 340px;
        height: 160px;
    }

    .Fort {
        display: grid;
        height: 210px;
        width: 340px;
        border-radius: 18px;
        box-shadow: 5px 7px 10px rgb(207, 207, 207);
        background-color: white;
    }

    #Pomegues {
        border-radius: 14px 14px 0 0;
        width: 340px;
        height: 160px;
    }

    .IdF {
        display: grid;
        height: 210px;
        width: 340px;
        border-radius: 18px;
        box-shadow: 5px 7px 10px rgb(207, 207, 207);
        background-color: white;
    }

    #Frioul {
        border-radius: 14px 14px 0 0;
        width: 340px;
        height: 160px;
    }

    .PNdesC {
        display: grid;
        height: 210px;
        width: 340px;
        border-radius: 18px;
        box-shadow: 5px 7px 10px rgb(207, 207, 207);
        background-color: white;
    }

    #Calanques {
        border-radius: 14px 14px 0 0;
        width: 340px;
        height: 160px;
    }

    .NDLG {
        display: grid;
        height: 210px;
        width: 340px;
        border-radius: 18px;
        box-shadow: 5px 7px 10px rgb(207, 207, 207);
        background-color: white;
    }

    #Garde {
        border-radius: 14px 14px 0 0;
        width: 340px;
        height: 160px;
    }

    .PLongC {
        display: grid;
        height: 210px;
        width: 340px;
        border-radius: 18px;
        box-shadow: 5px 7px 10px rgb(207, 207, 207);
        background-color: white;
    }

    #Longchamp {
        border-radius: 14px 14px 0 0;
        width: 340px;
        height: 160px;
    }

/*************** FOOTER ****************/
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: #F2F2F2;
        height: auto;
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }

    .footerBox {
        width: auto;
    }
}

@media screen and (max-width: 414px) {
    
    body {
        max-width: 414px;
    }

    .container {
        padding: 0px;
        max-width: 414px;
        }
    /********************** HEADER ****************************/
    #reserviaIcon {
        display: grid;
        grid-template-columns: 1.5fr 0 1.5fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "imgR 0 nav3"
        "nav1 0 nav2";
        width: 414px;
    }

    #imgReservia img{
        grid-area: imgR;
        height: 95%;
        width: 95%;
    }

    .nav1 {
        grid-area: nav1;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        height: auto;
    }

    #exemple {
        height: auto;
    }

    .nav1:hover {
        color: #0065FC;
        transition-duration: 0.2s;
        border-bottom-style: solid;
        border-top-style: none;
    }

    .nav2 {
        grid-area: nav2;
        width: 100%;
        margin-left: 0;
        border-bottom: solid;
        border-bottom-color: #F2F2F2;
    }

    .nav2:hover {
        color: #0065FC;
        transition-duration: 0.2s;
        border-bottom-style: solid;
        border-bottom-color: #0065FC;
        border-top-style: none;
    }

    .nav3 {
        grid-area: nav3;
    }

    .nav3:hover {
        border-bottom-style: solid;
        border-right-style: solid;
        border-left-style: solid;
    }

    header {
        width: 100%;
    }
   
    .titreR {
        text-align: center;
        font-size: 20px;
    }

    #texteG {
        display: flex;
        justify-content: center;
    }

    #barreSearch {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .filter {
        display: grid;
        grid-template-columns: minmax(210px, auto) 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin-top: 0;
        margin-right: 1rem;
        margin-left: 1rem;
        height: auto;
        width: auto;
    }

    #filterText {
        margin-top: 30px;
        margin-left: 10px;
        width: auto;
        display: initial;
        grid-column: 1/3;
        
    }

    .filter2 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0;
        width: 200px;
    }

    .F1 {
       width: 200px;
    }

    .F2 {
        width: 170px;
    }

    .F3 {
       width: 200px;
    }

    .F4 {
        width: 270px;
        grid-row: 4/5;
    }
    

    #infoFilter {
        display: flex;
        justify-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }
/************************ BODY ******************************/
    #Gridcorps {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: auto;
    }

    #Popu {
        justify-content: center;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #titleH4 {
        display: flex;
        justify-content: left;
    }

    h6 {
        display: flex;
        justify-content: left;
    }

    #Gridcorps {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #Corps {
        background-color: white;
        width: auto;
    }

    #hebergement {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        width: auto;
        background-color: white;
        grid-gap: 0;
    }

    .AlaC {
        margin-top: 0;
        margin-bottom: 0;
        width: 315px;
    }

    #Cannebiere {
        max-width: 310px;
    }

    .HduP {
        margin-top: 10px;
        margin-bottom: 0;
        width: 315px;
    }

    #Port {
        max-width: 310px;
    }

    .HlesM {
        margin-top: 10px;
        margin-bottom: 0;
        width: 315px;
    }

    #Mouettes {
        max-width: 310px;
    }

    .HdelaM {
        margin-top: 10px;
        margin-bottom: 0;
        width: 315px;
    }

    #Mer {
        max-width: 310px;
    }

    .AleP {
        margin-top: 10px;
        margin-bottom: 0;
        width: 315px;
    }

    #Panier {
        max-width: 310px;
    }

    .HcA {
        margin-top: 10px;
        margin-bottom: 0;
        width: 315px;
    }

    #Amina {
        max-width: 310px;
    }

    h5 {
        margin-left: 10px;
    }

    .blueStars {
        margin-left: 10px;
    }

/******************* ACTIVITES ***********************/

    #Tpopulaire {
        border-radius: unset;
        width: auto;
        height: 650px;
    }

    #Activites {
        display: flex;
        justify-content: center;
        width: auto;
    }

    #Gridactivites {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .LVP {
        display: grid;
        height: 210px;
        width: 340px;
        border-radius: 18px;
        box-shadow: 5px 7px 10px rgb(207, 207, 207);
        background-color: white;
    }
    
    .LVP p {
        margin-left: 15px;
    }

    #VieuxPort {
        border-radius: 14px 14px 0 0;
        width: 340px;
        height: 160px;
    }

    .Fort {
        display: grid;
        height: 210px;
        width: 340px;
        border-radius: 18px;
        box-shadow: 5px 7px 10px rgb(207, 207, 207);
        background-color: white;
    }

    .Fort p {
        margin-left: 15px;
    }

    #Pomegues {
        border-radius: 14px 14px 0 0;
        width: 340px;
        height: 160px;
    }

    .IdF {
        display: grid;
        height: 210px;
        width: 340px;
        border-radius: 18px;
        box-shadow: 5px 7px 10px rgb(207, 207, 207);
        background-color: white;
    }

    .IdF p {
        margin-left: 15px;
    }

    #Frioul {
        border-radius: 14px 14px 0 0;
        width: 340px;
        height: 160px;
    }

    .PNdesC {
        display: grid;
        height: 210px;
        width: 340px;
        border-radius: 18px;
        box-shadow: 5px 7px 10px rgb(207, 207, 207);
        background-color: white;
    }

    .PNdesC p {
        margin-left: 15px;
    }

    #Calanques {
        border-radius: 14px 14px 0 0;
        width: 340px;
        height: 160px;
    }

    .NDLG {
        display: grid;
        height: 210px;
        width: 340px;
        border-radius: 18px;
        box-shadow: 5px 7px 10px rgb(207, 207, 207);
        background-color: white;
    }

    .NDLG p {
        margin-left: 15px;
    }

    #Garde {
        border-radius: 14px 14px 0 0;
        width: 340px;
        height: 160px;
    }

    .PLongC {
        display: grid;
        height: 210px;
        width: 340px;
        border-radius: 18px;
        box-shadow: 5px 7px 10px rgb(207, 207, 207);
        background-color: white;
    }

    .PLongC p {
        margin-left: 15px;
    }

    #Longchamp {
        border-radius: 14px 14px 0 0;
        width: 340px;
        height: 160px;
    }

/**************** FOOTER *****************/

    footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        background-color: #F2F2F2;
        height: auto;
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }

    .footerBox {
        justify-content: left;
        margin-left: 15px;
        width: auto;
    }
}